---
layout: default
active_page: donate
---

<div class="col-12">
<div class="row">
<div class="mx-auto text-center">

<br>

<p>
	<a href="https://www.privacytools.io/"><img src="assets/img/layout/logo_smaller.png" class="img-fluid" alt="privacytools.io"></a>
</p>


<h1>Faire un don</h1>

<p>
	Notre site web est libéré de toute publicité et n'est affilié à aucun fournisseur listé.<br>
	Votre donation couvrera les frais du serveur, du domaine, du café, de la bière et des pizzas.
</p>

<p>
	<h2>Pour privacytools.io :</h2>

	<h3>Bitcoin :</h3>
	<p>
		<a href="bitcoin:1N4bKCx3kpvUTBhsvbmthPDssN8ATPEhgt?message=privacytools.io%20(Coffee,%20Beer%20and%20Pizza)" target="_blank"><img src="assets/img/layout/qr.png"></a>
	</p>

	<div class="form-group">
		<input id="address" type="text" value="1N4bKCx3kpvUTBhsvbmthPDssN8ATPEhgt" onclick="this.focus();this.select()" class="form-control text-center">
		<label for="address">Pour copier-coller facilement. <a href="bitcoin:1N4bKCx3kpvUTBhsvbmthPDssN8ATPEhgt?message=privacytools.io%20(Coffee,%20Beer%20and%20Pizza)">Ou utilisez ce lien.</a></label>
	</div>
</p>

<br>

<p>
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5G9CBU8P6F4K2" target="_blank"><img src="assets/img/layout/PayPal.png"></a>
</p>

<p>
	<h2>Pour privacytools.dreads-unlock.fr (Ce site) :</h2>

	<h3>Bitcoin :</h3>
	<p>
		<a href="bitcoin:18LLa6DJz62UzNWCrUBa9uWyduz8wtLQAr?message=privacytools.dreads-unlock.fr%20(Coffee,%20Beer%20and%20Pizza)" target="_blank"><img src="assets/img/layout/fr-wallet.png"></a>
	</p>

	<div class="form-group">
		<input id="address" type="text" value="18LLa6DJz62UzNWCrUBa9uWyduz8wtLQAr" onclick="this.focus();this.select()" class="form-control text-center">
		<label for="address">Pour copier-coller facilement. <a href="bitcoin:18LLa6DJz62UzNWCrUBa9uWyduz8wtLQAr?message=privacytools.io%20(Coffee,%20Beer%20and%20Pizza)">Ou utilisez ce lien.</a></label>
	</div>
</p>


	<h3>Merci pour votre soutien. Vous êtes génial !</h3>


<p>
	<img src="assets/img/misc/smile.png" class="img-fluid" alt="Smile">
</p>

</div>
</div>
</div>
